can-location-selector
    display block
    
    google-map
        height 40vh
        width 70vw
    
    can-list
        max-height 30vh
        overflow-y scroll
                
        can-list-item
            &:hover
                background-color $can-lightgreen
                &:after
                    background-color $can-lightgreen
            cursor pointer