can-user-profile-form

    can-textinput
        width 50%
        padding 0 3px

        &[name="street"]
            width 75%

        &[name="houseNumber"]
            width 25%

        &[name="stakName"]
            width 100%

    can-selectbox
        width 50%
        padding 0 3px

    can-switch-button
        width 50%
        padding 0 3px
