can-contracts-table
    can-card
        can-list
            can-list-item
                article
                    padding 0 18px

                
                >*:first-child
                    padding 0
                
                h5, strong
                    margin 0
                    font-size inherit

                    
                ul
                    list-style none
                    padding 0
                    margin 0            
            