can-campaign-stats-card

    can-card

        h3
            font-size 36px
            line-height 38px !important

        h4
            margin-top 9px
            font-weight 500

        ul
            padding 0
            list-style none
            width 100%

        footer
            display flex
            flex-direction column
            justify-content center
            align-items center
            can-button
                display inline-block
