can-login-page
    
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    background-color $can-green
    
    can-card
        position absolute
        left 50%
        top calc(50% + 64px)
        transform translate(-50%, -50%)
        max-width 344px
        width calc(100vw - 36px)