
can-incentive-input

    can-card
        font-size initial
        position relative

        can-textinput, can-selectbox
            &[name="minimumInvestment"], &[name="costs"]
                width 49%
                padding-right 6px

            &[name="contractTypeId"], &[name="inStock"]
                width 49%

        can-tooltip
            .extended-info
                margin-top 4px

        can-checkbox
            display inline-block
            width 49%
            padding-right 6px
            padding-top 10px
            padding-bottom 10px
